@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #131E3A;
  --secondary: #5D6A85;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.brand-background-svg {
  background-image: url(../public/assets/Authorised\ distributor\ desktop.svg);
  background-color: #131E3A;
  width: inherit;
}

@media screen and (max-width: 560px) {
  .brand-background-svg {
    background: url(../public/assets/Authosized\ Distributors\ mobile.svg) no-repeat bottom;
    background-color: #131E3A;
    width: inherit;
  }
}

.active_element {
  position: absolute;
  height: 3px;
  width: 40px;
  background: #0F67FD;
  bottom: -32%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
}

@font-face {
  font-family: "GT Super Txt Trial Rg";
  src: url("https://db.onlinewebfonts.com/t/fb8015cf9f71860c7a06667fbbb0294e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/fb8015cf9f71860c7a06667fbbb0294e.woff")format("woff"),
}

@font-face {
  font-family: "GT Super Txt Trial Rg It";
  src: url("https://db.onlinewebfonts.com/t/990648b1fb9aefd0b41e7a470bad910d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/990648b1fb9aefd0b41e7a470bad910d.woff")format("woff"),
}

.font-gt-super {
  font-family: "GT Super Txt Trial Rg", serif;
}

.font-gt-super-it {
  font-family: "GT Super Txt Trial Rg It", serif;
}

ul.text-sm.list-disc>li {
  align-items: center;
  line-height: 1.5em;
}

ul.text-sm.list-disc>li::marker {
  color: #1367F4;
  font-size: 1.5em;
  font-weight: bold;
}